.post-container:hover .post-name {
    text-decoration: underline;
    cursor: pointer;
}
.post-container:hover .post-intro {
    text-decoration: underline;
    cursor: pointer;
}
.post-container:hover .post-btn {
    color: #fff;
    background-color: #2579a9;
    border-color: #1f648b;
}
