main {
    margin-bottom: 50px;
}
main nav {
    background-color: #2196F3;
    padding: 20px;
    color: white;
}
article h1 {
    font-weight: bold;
}
article h2 {
    font-weight: bold;
}
article h3 {
    background-color: #ddf0ff;
    padding: 20px;
}
article .title {
    font-size: 42px;
}
article .intro {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 25px;
}
article .body {
    font-size: 22px;
    font-weight: 100;
}
